.main {
  padding: 0 64px;

  & > .list {
    display: grid;
    grid-gap: 16px;
  }

  & > .list > .item {
    display: flex;
    padding: 16px;
    border: 1px solid $primary-color-light;
    color: $primary-color-dark;
    transition: transform .35s ease-in;
  }

  & > .list > .item:hover {
    background: $primary-color-dark;
    color: $primary-color-light;
    transform: scale(1.05);
  }
}